<p id="notice"><%= notice %></p>

<p>
  <b>Comment:</b>
  <%= @submission.comment %>
</p>

<p>
  <b>Grade:</b>
  <%= @submission.grade %>
</p>

<p>
  <b>Lastupdate:</b>
  <%= @submission.lastupdate %>
</p>

<p>
  <b>Remember:</b>
  <%= @submission.remember %>
</p>

<p>
  <b>Submitted:</b>
  <%= @submission.submitted %>
</p>

<p>
  <b>Viewed:</b>
  <%= @submission.viewed %>
</p>

<p>
  <b>Task:</b>
  <%= @submission.task %>
</p>

<p>
  <b>User:</b>
  <%= @submission.user %>
</p>


<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
