<% content_for :head do %>
 	<div class="gradient-bar line-bar center-text relative">
	
		<span class="title"><%= @task.title %></span>
		<div class="absolute second-title right">
			
			<% if (@submission.empty? || !@submission[0].submitted) %>
				Não entregue
			<% else %>
				Entregue
			<% end %>
		</div>
	</div>
	
	<div class="line-bar">
		<%= link_to_function "< Voltar", "history.back()" %> 
		
		<span class="second-title right-align">
			<% if (@task.public == false)%>
				Não Público
			<% else %>
				<a href="<%= task_submissions_url(:id => @task.id) %>" ><img src="../../assets/alunos.png" width="17" height="17"/> Ver entregas dos alunos ></a>
			<% end %>
		</span>
	</div>
	<div class="clear"></div>

<% end %>

	<div class="line-bar title">
	Especificac&atilde;o:
	</div>
	<div class="line-bar">
	<%= @task.description %>
	</div>
	
	<% if (!@submission.empty? && @submission[0].submitted) %>
		<div class="line-bar title">
		Coment&aacute;rio:
		</div>
		<div class="line-bar">
		<%= @submission[0].comment %>
		</div>
		
		<div class="line-bar title">
		Arquivos:
		</div>
		<div class="line-bar">
		<%= @submission[0].archivetxt %>
		</div>
	<% end %>
	
	
	
<span id="versionTaskCenter">TC 1.0 Aluno</span>
