<% content_for :head do %>
 	<div class="gradient-bar line-bar center-text relative">
	
		<span class="title"><%= @task.title %></span>
		<div class="absolute second-title right">
			
			<% if (!@submission[0].submitted) %>
				Pendente
			<% else %>
				Entregue
			<% end %>
		</div>
	</div>
	
	<div class="line-bar">
		<img src="../../assets/calendar.png" width="17" height="17"/>
		Até <%= @task.date %>
		
		<span class="second-title right-align">
			<% if (@task.public == false)%>
				Não Público
			<% else %>
				<a href="<%= task_submissions_url(:id => @task.id) %>"><img src="../../assets/alunos.png" width="17" height="17"/> Ver entregas dos alunos ></a>
				
			<% end %>
		</span>
	</div>
	<div class="clear"></div>

<% end %>
<% " @submission[0].archives.build " %>
<%= form_for (@submission) do |f| %>
<% " form_for(submission, :remote => true) do |f| " %>

		<div class="line-bar title">
		Especificac&atilde;o:
		</div>
		<div class="line-bar">
		<% @task.description %>
		</div>
		
		<div class="line-bar title">
		Coment&aacute;rio:
		</div>
		<div class="line-bar">
		<%= f.text_field :comment %>
		</div>
		
		<div class="line-bar title">
		Arquivos:
		</div>
		<div class="line-bar">
		<%= f.text_field :archivetxt %>
		</div>
		
		<br />

		<input type="button" onclick="history.back()" value="Cancelar" class="cssgradients button-default"/>
		<% if (!@submission[0].submitted) %>
			<%= f.submit 'Entregar', :class => 'cssgradients button-default' %>
		<% else %>
			<%= f.submit 'Atualizar', :class => 'cssgradients button-default' %>
		<% end %>
		
	
<% end %>
