<!DOCTYPE html>
<html>
<head>
  <title>Taskcenter</title>
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "task-center" %>
  <%= stylesheet_link_tag "bootstrap-redu_old" %>
  
</head>
<body>
	<div id="mainContainer">
		<div id="headTaskBar" class="line-bar"><%= yield :head %></div>
		<div id="container" class="line-bar"><%= yield %></div>
		<div id="buttonsBar line-bar"><%= yield :buttons %></div>
		
		<div class="clear"></div>
		<br/>
		<span id="versionTaskCenter" class="second-title right-align">
			<% if(session[:user_student] == true) %>
				TC 1.0 Aluno
			<% else %>
				TC 1.0 Professor
			<% end %>
		</span>
	</div>
	
</body>
</html>
